@model DevOpsShop.Web.Models.CatalogViewModel
@{
    ViewData["Title"] = "Catalog";
}

<div class="text-center">
    <h1 class="display-4">Product Catalog</h1>
</div>

<div class="container" id="catalogList">
    @foreach (var product in Model.Products)
    {
        <div class="row">
            <div class="col-md-10"><a href="@Url.Action("Product", new { productId = product.Id })">@product.Name</a></div>
            <div class="col-md-2">@product.Price €</div>
        </div>
    }
</div>
